name: Deploy

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: '21'
        distribution: 'graalvm'
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Native Image
      run: ./mvnw package -Pnative -Dquarkus.native.container-build=false

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: src/main/docker/Dockerfile.native-micro
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/batch-service:latest
          ${{ secrets.DOCKER_USERNAME }}/batch-service:${{ github.ref_name }}
